@page "/about"
@using System.Reflection
@using MauiXmlSplitter.Resources
<div id="about" class="d-flex flex-row flex-wrap">
    <span class="order-1 p-2">
        <h3>@AppResources.AppName</h3>
        <p>@AppResources.AppDescription</p>
        <p>@AppResources.AppVersion: <code>@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion)</code></p>
        <p>@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyCopyrightAttribute>()?.Copyright)</p>
        <p>@AppResources.Product: @(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyProductAttribute>()?.Product)</p>
        <p>@AppResources.Authors: Mavaddat Javid</p>
    </span>
    <span class="order-2 p-2">
        <img class="float-end img-fluid" src="img/splash.svg" alt="@AppResources.GraphicAlt"/>
    </span>
</div>