@page "/"
@using System.ComponentModel
@using System.Diagnostics
@inject XmlSplitterViewModel ViewModel


<div id="splitter">
    <h1>XML Splitter</h1>

    <p>
        <label>
            <span class="text-truncate">Maintenance/Flight Manual&nbsp;</span><span>XML File:</span>
        </label>
        <span class="select-file">
            <InputText @bind-Value="ViewModel.SourceXml"/>
            <Button Color="ButtonColor.Secondary" @onclick="e => ViewModel.PickXmlFile(this, e)" Size="Size.Small" Loading="@ViewModel.LoadingXmlFile">Browse</Button>
        </span>
    </p>

    <p>
        <label>
            <span class="text-truncate">Units-of-Work&nbsp;</span><span>States File:</span>
        </label>
        @if (!(ViewModel.UowLoadSuccess.Success || ViewModel.UowLoadSuccess.Reason == Models.XmlSplitter.ReasonForUowFailure.NoFileProvided))
        {
            <Tooltip Title="@XmlSplitterViewModel.UowFailureReasonElaboration[ViewModel.UowLoadSuccess.Reason]" Color="TooltipColor.Danger">
                <span class="select-file error">
                    <InputText @bind-Value="ViewModel.UowStatesFile"/>
                    <Button Color="ButtonColor.Secondary" @onclick="e => ViewModel.PickUowStatesFile(this, e)" Size="Size.Small" Loading="@ViewModel.LoadingUowStatesFile">Browse</Button>
                </span>
            </Tooltip>
        } else
        {
            <span class="select-file">
                <InputText @bind-Value="ViewModel.UowStatesFile"/>
                <Button Color="ButtonColor.Secondary" @onclick="e => ViewModel.PickUowStatesFile(this, e)" Size="Size.Small" Loading="@ViewModel.LoadingUowStatesFile">Browse</Button>
            </span>
        }
        <div id="uowStatesFileModal">
            <Modal @ref="UowStatesFileModal" title="Invalid file chosen for units-of-work states" IsVerticallyCentered="true">
                <BodyTemplate>
                    <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>The file <code>@ViewModel.UowStatesFile</code> does not appear to provide valid UOW states: @XmlSplitterViewModel.UowFailureReasonElaboration[ViewModel.UowLoadSuccess.Reason]
                </BodyTemplate>
                <FooterTemplate>
                    <Button Color="ButtonColor.Primary" @onclick="_ => UowStatesFileModal.HideAsync()">OK</Button>
                </FooterTemplate>
            </Modal>
        </div>
    </p>

    <p>
        <label>
            <span class="text-truncate">Output Directory</span><span>:</span>
        </label>
        <span class="select-file">
            <InputText @bind-Value="ViewModel.OutputDirectory"/>
            <Button Color="ButtonColor.Secondary" @onclick="e => ViewModel.PickOutputFolder(this, e)" Size="Size.Small">Browse</Button>
        </span>
    </p>

    <p id="selectProgram">
        <label>
            <span class="text-truncate">@ViewModel.ProgramPickerTitle CSDB&nbsp;</span><span>Program:</span>
        </label>
        <span>
            <select disabled="@(ViewModel.PossiblePrograms.Count() <= 1)" @bind="ViewModel.Program">
                @foreach (var program in ViewModel.PossiblePrograms)
                {
                    <option>@program</option>
                }
            </select>
        </span>
    </p>
    <Modal @ref="ViewModel.SelectUowModal" title="Select UOW States" UseStaticBackdrop="true" CloseOnEscape="false">
        <BodyTemplate>            
            <UowStateGrid/>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="ViewModel.SelectUowModal.HideAsync">Cancel</Button>
            <Button Color="ButtonColor.Primary" @onclick="ViewModel.SelectStates">OK</Button>
        </FooterTemplate>
    </Modal>
    <p>
        @if (ViewModel.IsExecuting)
        {
            <Progress Class="mb-3">
                <ProgressBar Width="@ViewModel.Progress" Label="@ProgressStr" Type="@ViewModel.Status.Type" Color="@ViewModel.Status.Color"/>
            </Progress>
        }
        else
        {
            <Button Color="ButtonColor.Primary" @onclick="e => ViewModel.SplitXmlCommand(this, e)" Disabled="@(!ViewModel.IsReadyToExecuteSplit)">Execute Split</Button>
        }
    </p>
    <div id="infobox">
        <span id="requirements">
            <label>Required:</label>
            <ol>
                <li class="@(ViewModel.XmlIsProvided ? "done" : "")">Select XML File</li>
                <li class="@(ViewModel.UowLoadSuccess.Success ? "done" : "")">Select UOW States File</li>
                <li class="@(ViewModel.OutDirIsProvided ? "done" : "")">Choose Output Directory</li>
                <li class="@(ViewModel.ProgramIsProvided ? "done" : "")">Select CSDB Program</li>
            </ol>
        </span>
        <ContextMenu Id="clearConsole">
            <Item OnClick="@ViewModel.ClearLogs">Clear Console</Item>
        </ContextMenu>
        <ContextMenuTrigger id="console" MenuId="clearConsole">
            <div>Status</div>
            <pre>
        <code>
            <!-- The status goes here -->
                    @foreach (var log in ViewModel.Logs.OrderBy(log => log.Key))
                    {
                        <span class=@($"logMessage {log.Value.LogLevel}")>
                                <span class="timestamp text-truncate">
                                @log.Key.ToString("HH:mm:ss.fffffff")
                            </span>: <span class="message">
                                @log.Value.Message
                            </span>
                        </span>
                    }
        </code></pre>
        </ContextMenuTrigger>
    </div>
</div>


@code {
    protected Modal UowStatesFileModal = default!;

    protected string ProgressStr => ViewModel.Progress.ToString("0.0") + "%";

    async void PropertyWatchersAsync(object? sender, PropertyChangedEventArgs args)
    {
        Debug.WriteLine($"Saw property change for '{args.PropertyName}'", "Debug");
        switch (args.PropertyName)
        {
            case nameof(ViewModel.LoadingUowStatesFile) when !ViewModel.LoadingUowStatesFile && !ViewModel.UowLoadSuccess.Success:
                await UowStatesFileModal.ShowAsync();  // Show the modal
                break;
            case nameof(ViewModel.UowStatesFile) when ViewModel.UowStatesFile == string.Empty:
                ViewModel.UowLoadSuccess = (false, Models.XmlSplitter.ReasonForUowFailure.NoFileProvided);  // Remove the error CSS class
                StateHasChanged();
                break;
        }
    }

    protected override Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += PropertyWatchersAsync;
        return ViewModel.InitializeAsync();
    }

    protected void ClearConsole(ItemClickEventArgs e)
    {
        ViewModel.ClearLogs(e);
        StateHasChanged();
    }

}