@page "/settings"
@using System.Globalization
@inject SettingsViewModel ViewModel
<h3>Settings</h3>
<Tabs>
    <Tab Title="Application" IsActive="true">
        <Content>
            <form>
                <div class="mb-3">
                    <Dropdown id="languages">
                        <DropdownToggleButton Color="ButtonColor.Secondary">Language</DropdownToggleButton>
                        <DropdownMenu>
                            <DropdownItem value="en" class="d-flex justify-content-evenly" @onclick="@(() => ViewModel.Culture = new CultureInfo("en"))" Active="@(ViewModel.Culture.TwoLetterISOLanguageName == "en")">
                                <span>English</span><span>🇬🇧</span>
                            </DropdownItem>
                            <DropdownItem value="fr" class="d-flex justify-content-evenly" @onclick="@(() => ViewModel.Culture = new CultureInfo("fr"))" Active="@(ViewModel.Culture.TwoLetterISOLanguageName == "fr")">
                                <span>French</span><span>🇫🇷</span>
                            </DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </div>
                <Button Color="ButtonColor.Primary" @onclick="@(args => Preferences.Default.Set(nameof(ViewModel.Culture),ViewModel.Culture.TwoLetterISOLanguageName))" Type="ButtonType.Submit">Save</Button>
            </form>

        </Content>
    </Tab>
    <Tab Title="Secrets">
        <Content>
            <form>
                <div class="mb-3">
                    <label for="hashicorp-client-secret" class="form-label">HashiCorp Client Secret</label>
                    <input type="password" class="form-control" id="hashicorp-client-secret" @bind-value="ViewModel.HcpSecret" />
                </div>
                <Button @onclick="() => Preferences.Set(nameof(ViewModel.HcpSecret),ViewModel.HcpSecret)" Type="ButtonType.Submit" Color="ButtonColor.Primary">Save</Button>
            </form>

        </Content>
    </Tab>
</Tabs>
<span id="emoji">&nbsp;</span> <!-- To preload the emojis font -->

@code {

}